p:has(+ table#bug-summary) {
    margin: 0em;
}
table#bug-summary {
    width: 100%;
    border: none;
}
table#bug-summary + p {
    margin: 0em;
}
table#bug-summary th, table#bug-summary td {
    padding: 0.25em;
    border: none;
}
table#bug-summary td:first-of-type {
    padding-right: 1.5em;
}

a.scheduled-next {
    font-weight: bold;
}

a.scheduled {
    font-style: oblique;
}

a.unscheduled {
    opacity: 0.75;
}
a.fixed {
    font-weight: normal;
    font-style: normal;
    text-decoration: line-through;
}

.md-typeset div.admonition.abstract .emojione,
.md-typeset div.admonition.abstract .gemoji,
.md-typeset div.admonition.abstract .twemoji,
.md-typeset a[href^="../wishlist/"] .emojione,
.md-typeset a[href^="../wishlist/"] .gemoji,
.md-typeset a[href^="../wishlist/"] .twemoji,
.md-typeset a[href^="wishlist/"] .emojione,
.md-typeset a[href^="wishlist/"] .gemoji,
.md-typeset a[href^="wishlist/"] .twemoji {
    vertical-align: middle;
}

:root {
    --md-admonition-icon--bug: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M14 12h-4v-2h4m0 6h-4v-2h4m6-6h-2.81a6 6 0 0 0-1.82-1.96L17 4.41 15.59 3l-2.17 2.17a6 6 0 0 0-2.83 0L8.41 3 7 4.41l1.62 1.63C7.88 6.55 7.26 7.22 6.81 8H4v2h2.09c-.05.33-.09.66-.09 1v1H4v2h2v1c0 .34.04.67.09 1H4v2h2.81c1.04 1.79 2.97 3 5.19 3s4.15-1.21 5.19-3H20v-2h-2.09c.05-.33.09-.66.09-1v-1h2v-2h-2v-1c0-.34-.04-.67-.09-1H20z"/></svg>');
    --md-admonition-icon--bug-success: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 7h-2.81c-.45-.8-1.07-1.5-1.82-2L16 3.41 14.59 2l-2.17 2.17a6 6 0 0 0-2.83 0L7.41 2 6 3.41 7.62 5c-.75.5-1.36 1.21-1.81 2H3v2h2.09c-.06.33-.09.66-.09 1v1H3v2h2v1c0 .34.03.67.09 1H3v2h2.81A6 6 0 0 0 13 19.65V19c0-2.54 1.61-4.8 4-5.65V13h2v-2h-2v-1c0-.34-.03-.67-.09-1H19zm-6 8H9v-2h4zm0-4H9V9h4zm4.75 11.16-2.75-3L16.16 18l1.59 1.59L21.34 16l1.16 1.41z"/></svg>');
    --md-admonition-icon--wish: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M23 18h-3v-3h-2v3h-3v2h3v3h2v-3h3M6 2a2 2 0 0 0-2 2v16c0 1.11.89 2 2 2h7.81c-.36-.62-.61-1.3-.73-2H6V4h7v5h5v4.08c.33-.05.67-.08 1-.08.34 0 .67.03 1 .08V8l-6-6M8 12v2h8v-2m-8 4v2h5v-2Z"/></svg>');
    --md-admonition-icon--wish-success: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m23.5 17-5 5-3.5-3.5 1.5-1.5 2 2 3.5-3.5zM6 2a2 2 0 0 0-2 2v16c0 1.11.89 2 2 2h7.81c-.36-.62-.61-1.3-.73-2H6V4h7v5h5v4.08c.33-.05.67-.08 1-.08.34 0 .67.03 1 .08V8l-6-6M8 12v2h8v-2m-8 4v2h5v-2Z"/></svg>');
}
.md-typeset .admonition.wish,
.md-typeset details.wish {
    border-color: #888888;
}
.md-typeset .wish > .admonition-title,
.md-typeset .wish > summary {
    background-color: #8888881a;
}
.md-typeset .wish > .admonition-title::before,
.md-typeset .wish > summary::before {
    background-color: #888888;
    -webkit-mask-image: var(--md-admonition-icon--wish);
            mask-image: var(--md-admonition-icon--wish);
}
.md-typeset .admonition.bug-success,
.md-typeset details.bug-success,
.md-typeset .admonition.wish-success,
.md-typeset details.wish-success {
    border-color: #00c853;
}
.md-typeset .bug-success > .admonition-title,
.md-typeset .bug-success > summary,
.md-typeset .wish-success > .admonition-title,
.md-typeset .wish-success > summary {
    background-color: #00c8531a;
}
.md-typeset .bug-success > .admonition-title::before,
.md-typeset .bug-success > summary::before {
    background-color: #00c853;
    -webkit-mask-image: var(--md-admonition-icon--bug-success);
            mask-image: var(--md-admonition-icon--bug-success);
}
.md-typeset .wish-success > .admonition-title::before,
.md-typeset .wish-success > summary::before {
    background-color: #00c853;
    -webkit-mask-image: var(--md-admonition-icon--wish-success);
            mask-image: var(--md-admonition-icon--wish-success);
}
